<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<div>
    <table border = "1">
        <tr>
            <th>Country</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
        <tr th:each = "car : ${cars}">
            <td th:text="${car.country}">...</td>
            <td th:text="${car.model}">...</td>
            <td th:text="${car.year}">...</td>
        </tr>
    </table>
</div>

</body>
</html>
